body {
  height: 100vh;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.banner {
  font-family: "Slackey", cursive;
  background-color: rgba(22, 19, 19, 0.849);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
}
.banner__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.banner__desc {
  font-family: "Courier New", Courier, monospace;
}
/*this is the start of the ares where all the styles for the game is written*/
.background {
  background: url(images/background.jpg);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.459);
  background-size: cover;
  background-attachment: fixed;
}
.game-area {
  height: fit-content;
  padding-top: 5vw;
  padding-bottom: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game {
  /*making this the container for the game*/
  height: 100%;
  width: fit-content;
  background-color: inherit;
  display: flex;
  flex-direction: row;
}
.tile {
  width: 5vw;
  height: 5vw;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  font-size: 4vw;
}
.column {
  height: 100%;
  width: 16%;
  display: flex;
  flex-direction: column;
}

.mine {
  background-color: aliceblue;
}
.hidden {
  background-color: grey !important;
  color: transparent;
}
.lost {
  background-color: red;
  background-blend-mode: darken;
}
/*this is the end of the section for the minesweeper itself*/

.resetButton__container {
  min-width: 100%;
  min-height: 2vw;
  font-size: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: row;
}
.reset__btn {
  transition: transform 0.6s;
  margin-top: 2vw;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 50px;
}
.bar {
  margin-left: 26.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.time {
  margin-left: 20vw;
  font-size: 2vw;
  font-family: "Slackey", cursive;
  display: flex;
  flex-direction: row;
}
.reset__btn:hover {
  transform: rotate(180deg);
  transform-origin: center;
}

.form__container {
  background-color: rgba(48, 42, 42, 0.555);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: center;
  /* this is the bit to change with JS */
  display: none;
  /* end of bit done with JS */
  justify-content: center;
  align-items: center;
}
.form__smallContainer {
  background-color: aliceblue;
  border-radius: 20px;
  width: 30vw;
  height: fit-content;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.form__score {
  border: none;
  background-color: transparent;
  text-align: center;
}

.leaderboard__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/static/images/leaderBoard_background.jpg);
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  /* some font shit */

  /* end of font shit */
}
.leaderboard__title {
  font-size: 40px;
  color: white;
}
.leaderboard__miniContainer {
  background-color: white;
  border-radius: 25px;
  padding: 1.25vw;
}
.leaderboard__scoreContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: white;
  justify-content: space-evenly;
}
.score__nameContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;

  justify-content: space-evenly;
  text-align: right;
}
.score__timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}
