<!DOCTYPE html>
<html>
  <head>
    <!--head stuff-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css' )}}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ici on doit faire le structure-->
    <header class="banner">
      <div class="banner__content">
        <!-- doit avoir une hauter maximale de genre 100 px-->
        <h1 class="banner__title">Minesweeper</h1>
        <p><em class="banner__desc">by Archie, Thomas, Quentin</em></p>
      </div>
    </header>
    <main>
      <!-- ou je vais mettre la partie genre le demineur-->
      <div class="background">
        <div class="game-area">
          <div class="game-container">
            <div class="game">
              <!-- this is the area where the game is contained -->
            </div>
            <div class="resetButton__container">
              <div class="bar">
                <a href="index.html" class="">
                  <img
                    class="reset__btn"
                    src="https://img.icons8.com/fluency/60/000000/recurring-appointment.png"
                  />
                </a>
                <div class="time">time : 00:00 .</div>
              </div>
            </div>
          </div>
        </div>
        <!-- here is for the leader board -->
        <section>
          <div class="leader__bigContainer">
            <div class="leaderBoard">
              <!-- here is for the JS to find -->
            </div>
          </div>
        </section>
      </div>
      <form action="" method="POST">
        <div class="form__container">
          <!-- this is the big square that will take up the whole page -->
          <div class="form__smallContainer">
            <!-- this is the small container for the form -->
            <h1 class="form__title">Score sheet</h1>

            <input
              type="text"
              placeholder="Name"
              name="username"
              id="username"
            />
            <div class="form__scoreDisplay">
              <!-- here will be where the score is showed -->
              <input
                type="text"
                name="timer"
                id="timerScore"
                placeholder="TMP"
                class="form__score"
                value="TMP"
                readonly
              />
            </div>
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
      <!-- here is the section for the leaderboard -->
    </main>
    <footer>
      <!-- la partie en bas de la page, peutre prendre m'importe quelle place-->
    </footer>
  </body>
</html>
<script src="{{url_for('static' , filename='indexNew.js')}}" defer></script>
